{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}AMRV | Registrar Nuevo Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaEmpleado|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-empleados">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DEL EMPLEADOS
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizarEmpleado', id = respuestaEmpleado.id_empleado ) }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <input
          type="text"
          class="form-control"
          name="id_empleado"
          value="{{ respuestaEmpleado.id_empleado }}"
          required
          hidden />

        <div class="card-body">
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="nombre_empleado" class="form-label">
                Nombre del empleado
              </label>
              <input
                type="text"
                name="nombre_empleado"
                value="{{ respuestaEmpleado.nombre_empleado }}"
                class="form-control"
                required />
            </div>
            <div class="col-md-4">
              <label for="apellido_empleado" class="form-label">
                Apellido Paterno
              </label>
              <input
                class="form-control"
                type="text"
                name="apellido_empleado"
                value="{{ respuestaEmpleado.apellido_empleado }}"
                required />
            </div>
            <div class="col-md-4">
              <label for="apellido_materno" class="form-label">
                Apellido Materno
              </label>
              <input
                class="form-control"
                type="text"
                name="apellido_materno"
                value="{{ respuestaEmpleado.apellido_materno }}"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="sexo_empleado" class="form-label">
                Sexo del empleado
              </label>
              {% with tipo_sexo = {"1": "Masculino", "2": "Femenino"} %}
              <select class="form-select" name="sexo_empleado">
                {% for clave, valor in tipo_sexo.items() %} {% if clave ==
                respuestaEmpleado.sexo_empleado|string %}
                <option value="{{ clave }}" selected>{{ valor }}</option>
                {% else %}
                <option value="{{ clave }}">{{ valor }}</option>
                {% endif %} {% endfor %}
              </select>
              {% endwith %}
            </div>

            <div class="col-md-6">
              <label for="telefono_empleado" class="form-label">
                Telefono del empleado
              </label>
              <input
                class="form-control"
                type="text"
                name="telefono_empleado"
                value="{{ respuestaEmpleado.telefono_empleado }}"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
                placeholder="Ejemplo: 123-456-7890" 
 
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="email_empleado" class="form-label">
                Email del empleado
              </label>
              <input
                class="form-control"
                type="email"
                name="email_empleado"
                value="{{ respuestaEmpleado.email_empleado }}"
                required />
            </div>
            <div class="col-md-6">
              <label for="profesion_empleado" class="form-label">
                Profesión del empleado
              </label>
              <input
                class="form-control"
                type="text"
                name="profesion_empleado"
                value="{{ respuestaEmpleado.profesion_empleado }}"
                required />
            </div>
          </div>

          <div class="row mt-3"> 
            <div class="col-md-4">
              <label for="entrada" class="form-label">
                Entrada
              </label>
              <input
                class="form-control"
                type="text"
                name="entrada"
                value="{{ respuestaEmpleado.entrada }}"
                id="entrada"
                required />
            </div>
            
            <div class="col-md-4">
              <label for="salida" class="form-label">
                Salida
              </label>
              <input
                class="form-control"
                type="text"
                name="salida"
                value="{{ respuestaEmpleado.salida }}"
                id="salida"
                required />
            </div>
            
            <div class="col-md-4">
              <label for="curp" class="form-label">
                curp
              </label>
              <input
                class="form-control"
                type="text"
                name="curp"
                value="{{ respuestaEmpleado.curp }}"
                id="curp"
                required />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-4">
              <label for="rfc" class="form-label">
                rfc
              </label>
              <input
                class="form-control"
                type="text"
                name="rfc"
                value="{{ respuestaEmpleado.rfc }}"
                id="rfc"
                required />
            </div>
            <div class="col-md-4">
              <label for="num_personal" class="form-label">
                número de personal
              </label>
              <input
                class="form-control"
                type="text"
                name="num_personal"
                value="{{ respuestaEmpleado.num_personal }}"
                id="num_personal"
                required />
            </div>
            <div class="col-md-4">
              <label for="num_plaza" class="form-label">
                Número de Plaza:
              </label>
              <input 
              class="form-control"
              type="text" 
              id="num_plaza" 
              name="num_plaza" 
              value="{{ respuestaEmpleado.num_plaza }}"
              required/>
             </div>
          </div>
          <div class="row mt-3">
          <div class="col-md-4">
            <label for="categoria" class="form-label">
              Categoria:
            </label>
            <input 
            class="form-control"
            type="text" 
            id="categoria" 
            name="categoria" 
            value="{{ respuestaEmpleado.categoria }}"
            required/>
            </div>
            <div class="col-md-4">
              <label for="fecha_ingreso" class="form-label">
                  Fecha de Ingreso:
              </label>
              <input 
              class="form-control" 
              type="date" 
              id="fecha_ingreso" 
              name="fecha_ingreso" 
              value="{{ respuestaEmpleado.fecha_ingreso }}"
              required/>
              </div>
              <div class="col-md-4">
                <label for="antiguedad" class="form-label">
                Antigüedad:
                </label>
                <input 
                class="form-control" 
                type="text" 
                id="antiguedad" 
                name="antiguedad" 
                value="{{ respuestaEmpleado.antiguedad }}"
                required/>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <label for="nss" class="form-label">
                  NSS:
                  </label>
                  <input 
                  class="form-control" 
                  type="text" 
                  id="nss" 
                  name="nss" 
                  value="{{ respuestaEmpleado.nss }}"
                  maxlength="11"
                  required/>
                </div>
                <div class="col-md-4">
                    <label for="control_asistencia" class="form-label">
                    Control de Asistencia:
                    </label>
                    <input 
                    class="form-control" 
                    type="text" 
                    id="control_asistencia" 
                    name="control_asistencia" 
                    value="{{ respuestaEmpleado.control_asistencia }}"
                    required/>
                  </div>
                  <div class="col-md-4">
                    <label for="tipo_empleado" class="form-label">
                    puesto del empleado:
                    </label>
                    <select
                      class="form-select"
                      id="tipo_empleado"
                      name="tipo_empleado"
                      aria-label="Default select example"
                      required onchange="mostrarOtroCampoUpdate()">
                      <option selected>{{respuestaEmpleado.tipo_empleado}}</option>
                      <option value="DOCENTE(Base)">DOCENTE(Base)</option>
                      <option value="ADMINISTRATIVO(Base)">ADMINISTRATIVO(Base)</option>
                      <option value="DOCENTE(Interinato)">DOCENTE(Interinato)</option>
                      <option value="ADMINISTRATIVO(Interinato)">ADMINISTRATIVO(Interinato)</option>
                      <option value="Otro">OTRO (Especifique)</option>
                    </select>
                  </div>
              </div> 
           <div class="col-md-4" id="otro_empleado_div" style="display:none ;">
                <label for="otro_empleado" class="form-label">Especifique el tipo de nombramiento:</label>
                <input type="text" class="form-control" id="otro_empleado" name="otro_empleado" value = "{{ respuestaEmpleado.otro_empleado }}" />
            </div>
            
        </div>
            <h3>Domicilio Particular</h3>
    
          <div class="row mt-2">
            <div class="col-md-8">
            <label for="calle" class="form-label">
            Calle:
            </label>
            <input 
            class="form-control" 
            type="text" 
            id="calle" 
            name="calle" 
            value="{{ respuestaEmpleado.calle }}"
            required/>
            </div>
            <div class="col-md-4">
              <label for="num" class="form-label">
              Número:
              </label>
              <input 
              class="form-control" 
              type="text" 
              id="num" 
              name="num" 
              value="{{ respuestaEmpleado.num }}"
              required/>
              </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-4">
            <label for="colonia" class="form-label">
            Colonia:
            </label>
            <input 
            class="form-control" 
            type="text" 
            id="colonia" 
            name="colonia" 
            value="{{ respuestaEmpleado.colonia }}"
            required/>
            </div>
            <div class="col-md-4">
              <label for="municipio" class="form-label">
              Municipio:
              </label>
              <input 
              class="form-control" 
              type="text" 
              id="municipio" 
              name="municipio" 
              value="{{ respuestaEmpleado.municipio }}"
              required/>
              </div>
              <div class="col-md-4">
                <label for="estado" class="form-label">
                Estado:
                </label>
                <input 
                class="form-control" 
                type="text" 
                id="estado" 
                name="estado" 
                value="{{ respuestaEmpleado.estado }}"
                required/>
                </div>
          </div>

          <div class = "row mt-3">
          </div>
        <div class="row mt-3">
          <div class="col-md-4">
          <label for="cp" class="form-label">
            C.P.:
          </label>
          <input 
          class="form-control" 
          type="text"
          id="cp" 
          name="cp" 
          value="{{ respuestaEmpleado.cp }}"
          required/>
          </div>
          <div class="col-md-4">
            <label for="tipo_sangre" class="form-label">
              Tipo de Sangre:
            </label>
            <input 
            class="form-control" 
            type="text" 
            id="tipo_sangre" 
            name="tipo_sangre" 
            value="{{ respuestaEmpleado.tipo_sangre }}"
            required/>
            </div>
        </div>
          <div class="col-md-12">
          <label for="observaciones" class="form-label">
          Observaciones:
          </label><br>
         <input
          class="form-control" 
          type="text"
          id="observaciones" 
          name="observaciones"
          value="{{ respuestaEmpleado.observaciones }}"
          required/>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="" class="form-label"> FOTO DEL EMPLEADO </label>
              <br />
              <img
                src="/static/fotos_empleados/{{ respuestaEmpleado.foto_empleado }}"
                style="width: 150px"
                alt="{{ respuestaEmpleado.nombre_empleado }}" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="" class="form-label">
                ACTUALIZAR LA FOTO DEL EMPLEADO
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="foto_empleado"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  {% set url_avatar= url_for('static', filename
                  ='assets/img/avatar.png') %}
                  <div
                    id="imagePreview"
                    style="background-image: url('{{ url_avatar }}')"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el empleado</h3>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
